@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;800&display=swap');


body{
    background-color:#053d57 ;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav ul {
    text-align: center;
    margin: 0;
}
.nav ul li {
    list-style: none;
    display: inline-block;
}
.nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
}
.nav ul li a:hover{
    color: #8f294b;
}
.header {
    width: 90%;
    margin: 0rem 10rem 0rem 10rem;
}
.row {
    display: flex;
    height: 60vh;
    margin: auto;
}
.column {
    padding: 20px;
    flex: 50%;
    margin: auto;
    text-align: center; 

}
.column  h3 {
    line-height: 3rem;
}
h1 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    
}
h3 {
    margin:0rem 5rem 0rem 5rem;
    color: #fff;
    font-size: 24px;
    font-weight: 400;

}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
.coderimg {
   width:60%;
   height: 60%;
   float: left;    
}
.aboutMe {
    margin: 0rem 20rem 0rem 20rem;
    display: flex;
}
.amosimg {
    padding:0 2rem 0 2rem;
    width: 40vw;
}
.amosimg img {
    border-radius:3rem 5rem 3rem 5rem;
    border: #8f294b solid 10px;
    width: 20rem;
    height: 20rem;
    background-color:#fff ;
    -webkit-box-shadow: 8px 6px 17px 0px rgba(143,41,75,0.71); 
    box-shadow: 8px 6px 17px 0px rgba(143,41,75,0.71);
}
.titleHorizontal {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    width: 10%;
    padding-top: 5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}
.title {
    width: 10rem;
    padding-top: 5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin: auto;
}
.description {
    line-height: 2rem;
    letter-spacing: 2px;
}
.skills {
    display: inline-flex;
    height:40vh;
}
.skillList {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3rem 0rem 3rem 0rem;
    border-radius: 2rem 4rem 2rem 4rem;
    display: inline;
}
.skillList li {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3px;
}
.services {
    display: inline-flex;
    margin-right: 0;
}
.serviceList {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3rem 0rem 3rem 0rem;
    border-radius: 2rem 4rem 2rem 4rem;
    display: inline;
    margin-right: 10rem;
}
.serviceList li {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3px;
}
.work {
    width: 70%;
    margin: auto;
}
.project {
    margin: auto;
}